<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= title %></title>
  <meta
    name='viewport'
    content='minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no'/>
  <meta name='google' content='notranslate'/>
  <meta name='theme-color' content='#202949'/>

  <link rel='stylesheet'
        href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=block&subset=cyrillic'/>
  <link rel='stylesheet'
        href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=block&subset=cyrillic'/>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'/>
  <link rel='stylesheet' href='/static/css/normalize.css'/>
  <link rel='shortcut icon' href='/static/images/favicon.png' type='image/png'/>
</head>
<body>
  <div id='application-container'></div>
  <% if (env === 'prod') { %>
    <!-- Yandex Metrika -->
    <script>
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(56523736, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
      });
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/56523736" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
  <% } %>
</body>
</html>
